<span class='span-table' style='white-space: normal !important'>
    <span class='table-row'>
        <span class='table-cell'><img src='assets/img/action_fish.png' class='conversation-icon' /></span>
        <span class='table-cell'>Dive deeper into <a href='https://www.eatingwiththeecosystem.org/' target='_blank'>Eating with the Ecosystem</a></span>
    </span>
    <span class='table-row mt-2'>
        <span class='table-cell'><img src='assets/img/action_bag.png' class='conversation-icon' /></span>
        <span class='table-cell'>Check <a href='https://www.thelocalcatch.com/' target='_blank'>the Local Catch Network</a> to locate your desired catch</span>
    </span>
</span>