<span class='d-flex justify-content-between'>
  <span>⏱TOTAL TIME</span>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span><b>{{include.recipe.time}} min</b></span>
</span>&&🥣INGREDIENT<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br /><br />{% for ing in include.recipe.ingredients%}{{ing | append: '<br>'}}{% endfor %}&&📝 STEPS<br /><br />{% for step in include.recipe.steps %}{{forloop.index | prepend: '0'}}/{{forloop.length | prepend: '0'}} <b>{{step.title}}</b><br />{{step.description}}{% unless forloop.last %}<br /><br />{% endunless %}{% endfor %}
